.idea
.env
airflow.db
airflow.cfg
airflow-webserver.pid
oup.xml.zip
scoap3.pdf.zip
scoap3.archival.zip
standalone_admin_password.txt
webserver_config.py
logs
downloaded/*
downloaded_from_s3/*
unzipped/*
jsons/*
dags/__pycache__/*
dags/helpers/__pycache__/*
dags/tasks/__pycache__/*
